- if @page.is_a?(EventPage)
  %div.clear
  #event_dates_dynamic
    = render :partial => "event_dates_dynamic", :object => @page
  %table.fieldset
    %tr
      %th.label
        %span{:style => "font-weight: normal;"} Event options
      %td.field
        = check_box 'page', 'all_day_event'
        = label 'page', 'all_day_event', "All day event"
        &nbsp;
        = check_box 'page', 'no_end_time'
        = label 'page', 'no_end_time', "No end time"
  %br
